<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="il.ac.tau.cs.wirelesslab.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="il.ac.tau.cs.wirelesslab.Perspective"
            id="4X4Plugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="4X4Plugin.viewMenu"
               label="View">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/open_view.gif"
                  icon="icons/open_view_hover.gif"
                  label="Open Views"
                  style="push"
                  tooltip="Configure different devices">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  hoverIcon="icons/exit_hover.gif"
                  icon="icons/exit_active.gif"
                  label="Exit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
	point="org.eclipse.ui.actionSets">
	<actionSet
		label="%OPEN_DEVICES_VIEW"
		visible="true"
		id="4X4Plugin.Devices">
		<action
			label="%OPEN_DEVICES_VIEW_MENU"
			class="il.ac.tau.cs.wirelesslab.views.ViewGeneralMenu.OpenDevicesAction"
			menubarPath="View/Devices"
			id="il.ac.tau.cs.wirelesslab.views.ViewGeneralMenu.OpenDevicesAction">
		</action>
	</actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewFavorites"
            id="4X4Plugin.viewFavorites"
            name="viewFavorites"
            restorable="true">
      </view>
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewPlayer"
            id="4X4Plugin.viewPlayer"
            name="viewPlayer"
            restorable="true">
      </view>
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewDevices"
            id="4X4Plugin.viewDevices"
            name="viewDevices"
            restorable="true">
      </view>
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewSpectrogram"
            id="4X4Plugin.viewSpectrogram"
            name="viewSpectrogram"
            restorable="true">
      </view>
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewRecord"
            id="4X4Plugin.viewRecord"
            name="viewRecord"
            restorable="true">
      </view>
      <view
            class="il.ac.tau.cs.wirelesslab.views.ViewSkin"
            id="4X4Plugin.viewSkin"
            name="viewSkin"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="4X4Plugin.viewFavorites"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               id="4X4Plugin.viewPlayer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="4X4Plugin.viewDevices"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="4X4Plugin.viewSpectrogram"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="4X4Plugin.viewRecord"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="4X4Plugin.viewSkin"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
